@model ChatardApp.ViewModels.MeetingsViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Upcoming Events</h1>
<ul class="meetings voffset4">
    @foreach (var meeting in Model.UpcomingMeetings)
    {
        <li>
            <div class="date">
                <div class="month">
                    @meeting.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @meeting.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="coach">
                    @meeting.Coach.Name
                    
                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@meeting.CoachId">Follow</button>

                    }
                </span>
                <span class="event">
                    @meeting.Event.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-meeting-id="@meeting.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>

                }
            </div>
        </li>
    }
</ul>

@section scripts
{
<script>
    $(document).ready(function () {
        $(".js-toggle-attendance").click(function (e) {
            var button = $(e.target);
            $.post("/api/attendances", { meetingId: button.attr("data-meeting-id") })
            .done(function () {
                button
                    .removeClass("btn-default")
                    .addClass("btn-info")
                    .text("Going");
            })
            .fail(function () {
                alert("You are already going to this event")
            })
        });
        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("You are already following this team");
                });
        });
        
    });
</script>
}